html
  head
    title DTD-Pad
    link(rel="stylesheet",type="text/css",href="/dtd-style1.css")

  body
    if info
      each x,i in info
        p= x
    if errors
      each x,i in errors

    each d,i in divs
      div(class=d.class, style=d.customStyle)
