html
  head
    title D-Pad-Launcher
    link(rel="stylesheet",type="text/css",href="/peripheral-style1.css")

  body
    if info
      each x,i in info
        p= x
    if errors
      each x,i in errors
        p= x

    .launcher
      a.launcher-option(href="/new-file") +__+ &nbsp NEW &nbsp +__+
      
      form.launcher-upload-form.launcher-option(action="/file-management/upload" method="POST" enctype="multipart/form-data")
        label.launcher-elements Upload Existing File:
        input.launcher-elements(type="file" name="upload-dtd")
        button.launcher-elements(type="submit") upload
      
      h3.launcher-heading Existing Files
      
      .existing-filelist 
        if(existing_filelist.length == 0)
          p.spanning-message.launcher-option No Files Yet
        each f, i in existing_filelist
          a.launcher-option(href=f.link)= f.name
