*,*:after, *:before {
    box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
#dtd-holder{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50px 1fr 45px;
  grid-template-rows: 100vh;
  grid-template-areas:
    "overall-heading board control-bar"
}

#overall-heading{
  grid-area: overall-heading;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  text-align: center;
  background: linear-gradient(90deg,lightgray,white);
  margin: 0;

}

#control-bar{
  grid-area: control-bar;
  display: grid;
  grid-template-rows: auto;
  background: linear-gradient(-90deg,lightgray,white);
  margin: 0;
}

#board{
  grid-area: board;
  display: grid;
}

#board-cover-layer{
  display: none;
  grid-area: board;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999;
}

#loading-screen{
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 50vh;
}

.dtd-cell{
  min-width: 0;
  min-height: 0;
  place-self: stretch;
  background: lightgray;
  border: 1px solid gray;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-family: monospace;
}

.dtd-cell.dtd-cell-popped-out{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -ms-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
  z-index: 1000000;
}

.dtd-cell > p{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

.cell-marker{
  outline-offset: -3px;
  z-index: 1000000;
}

.dtd-cell.dtd-cell-clickable{
  border: 2px solid orange;
  outline-offset: -10px;
  outline: 2px dashed orange;
}

.dtd-cell.dtd-cell-selected{
  border: 2px solid orange;
  outline-offset: -10px;
  outline: 2px dashed green;
}

.dtd-cell.dtd-cell-being-edited{
  border: 2px solid green;
}

.control-button{
  place-self: stretch;
  padding: 0;
  border: 1px solid gray;
  border-radius: 5px;
}

.control-button:disabled{
  background: lightgray;
}

.cell-marker{
  border: 1px solid orange;
}
