*,*:after, *:before {
    box-sizing: border-box;
}

#dtd-holder{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 50px 1fr 45px;
  grid-template-areas:
    "overall-heading board control-bar"
}

#overall-heading{
  grid-area: overall-heading;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  background: linear-gradient(90deg,lightgray,white);
  margin: 0;

}

#control-bar{
  grid-area: control-bar;
  background: linear-gradient(-90deg,lightgray,white);
  margin: 0;
}

#board{
  grid-area: board;
  display: grid;
}

.dtd-cell{
  place-self: stretch;
  background: lightgray;
  margin: 1px;
}
