*,*:after, *:before {
    box-sizing: border-box;
    //font-size: 15px;
}

a{
  color: black;
  text-decoration: none;
  background: #E8FFE8;
}

.launcher{
  display: grid;
  justify-content: stretch;
}

.launcher-heading{
  background: #E0E0FF;
  display: block;
  text-align: center;
  border: 1px solid;
  border-radius: 10px; /*make the dimensions responsive*/
  padding: 10px; /*make the dimensions responsive*/
  margin: 10px; /*make the dimensions responsive*/
}

.existing-filelist{
  display: grid;
  grid-template-columns: auto auto auto
}

.launcher-option{
  place-self: strech;
  margin: 10px; /*make the dimensions responsive*/
  padding: 10px; /*make the dimensions responsive*/
  border-radius: 10px; /*make the dimensions responsive*/
  border: 1px solid;
  text-align: center;
}
